.hero {
  background-image: url("../images/hero.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-position: 80%;
  padding: 220px;
  position: relative;
}

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer div ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer div ul li a {
  padding: 10px 15px;
}

.page-title {
  font-family: 'Inria Sans', sans-serif;
  font-size: 64px;
  margin-left: 320px;
  text-shadow: 3px 3px black;
}
