header img {
  position: -webkit-sticky;
  position: sticky;
}

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer div ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer div ul li a {
  padding: 10px 15px;
}

.page-title {
  font-family: 'Inria Sans', sans-serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px #3cb34c;
  color: #ffffff;
  margin-top: 5px;
}


